{% extends 'adminbase.html.twig' %}

    {% block title %}{% endblock %}
    
        {% block content %}
            <ul id="sidebarnav">
              <li class="nav-small-cap">
                <i class="ti ti-dots nav-small-cap-icon fs-4"></i>
                <span class="hide-menu">Accueil</span>
              </li>
              <li class="sidebar-item">
                <a class="sidebar-link" href="adminbase.html.twig" aria-expanded="false">
                  <span>
                    <i class="ti ti-layout-dashboard"></i>
                  </span>
                  <span class="hide-menu">tableau de board</span>
                </a>
              </li>
              <li class="nav-small-cap">
                <i class="ti ti-dots nav-small-cap-icon fs-4"></i>
                <span class="hide-menu"> Tables</span>
              </li>
              <li class="sidebar-item">
                <a class="sidebar-link" href="{{path('app_offre_index')}}" aria-expanded="false">
                  <span>
                    <i class="ti ti-article"></i>
                  </span>
                  <span class="hide-menu">Offres</span>
                </a>
              </li>
              <li class="sidebar-item">
                <a class="sidebar-link" href="{{path('app_events_dash')}}" aria-expanded="false">
                  <span>
                    <i class="ti ti-alert-circle"></i>
                  </span>
                  <span class="hide-menu">Events</span>
                </a>
              </li>
            {% endblock %}
    
    
    



{% block body %}
    <h1 style="margin-bottom: 20px;"></h1>


    {{ include('events/_form.html.twig') }}

    <a href="{{ path('app_events_index') }}">back to list</a>
{% endblock %}
