{% extends 'base.html.twig' %}

{% block content1 %}

    <!-- ABOUT PAGE -->
<section class="section" >
    <div class="container">
      <div class="row justify-content-center text-center mb-5">
        <div class="col-md-6">
          <h2 class="section-heading">À propos de Esprit-Op</h2>
          <p>Esprit-Op est une plateforme qui connecte les étudiants de l'ESPRIT aux opportunités de stages, d'emplois et d'événements.</p>
        </div>
      </div>
      <div class="row">
        <div class="col-md-6">
          <h3 class="mb-4">Notre Mission</h3>
          <p>Nous nous engageons à aider les étudiants à trouver des opportunités prometteuses pour leur avenir professionnel.</p>
        </div>
        <div class="col-md-6">
          <h3 class="mb-4">Nos Services</h3>
          <p>Nous mettons en relation les étudiants et les entreprises, facilitant la recherche de stages et d'emplois, ainsi que la participation à des événements pertinents.</p>
        </div>
      </div>
    </div>
  </section>
  <!-- END ABOUT PAGE -->
  </html> 

  {% endblock %}